/****************************
YUI Reset CSS: creates a level playing field across A-grade browsers and provides a sound foundation upon which you can explicitly declare your intentions.
****************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
    white-space: normal !important;
    text-align:left;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	color: #444;
    font-size:100%;
	font-weight:normal;
    text-align:left;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

body
{
font-family: "trebuchet ms", arial, sans-serif;
background-color:#E4E4E4;
}
.clear
{
clear:both;
}

.hide
{
display:none;
}

.note
{
font-size:11px;
line-height:14px;
}

.nobold
{
font-weight:normal;
}


ul
{
list-style: none;
margin-top:0;
}
li strong
{
font-size:100%;
}
#nav ul
{
text-align:center;
margin:0;
}
#nav ul li
{
display:inline;
}

p.note
{
text-align:center;
margin: 5px auto 5px auto;
}

#footerwrapper p
{
color: rgb(102,102,102);
text-align:center;
margin:20px 0 15px 0;
padding:0;
}





#container, #wrap {
width: 1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFF;
}

	
#main {
	width: 615px;
	margin: 0 0 0 70px;
	padding: 0;
}

#main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main ul li {
	background-repeat: no-repeat;
	background-position: 0px 2px 0 0;
	padding-left: 14px;
	line-height: 120%; 
    margin-top:10px;

}

p
{
margin: 0 5px 5px 0px;
line-height: 120%;
font-size: 10pt;
color: #444;
}

a, a:link, a:visited {
	color: #003459;
	color: #2e668d;
	text-decoration: none;
	border-bottom: 1px dotted #ffffff;
}


a:hover, a:active {
	color: #2e668d;
	text-decoration: none;
	border-bottom: 1px dotted #2e668d;
}


img {
	margin: 0;
	padding: 0;
}

img a {
	border: 0px !important;
}




h1 {
	font-family:Georgia, serif;
	font-size: 2.5em;
	color: #003459;
	margin: 0;
	padding: 0;
}


h2 {
	font-family:'Trebuchet MS', sans-serif;
	font-size: 1.6em;
	color: #333;
	margin: 10px 0 0 0;
	padding: 0;
}

h3 {
 	font-size: 1.1em;
	color: #003459;
	color: #00477a;
	padding: 15px 0 0 0;
	margin: 0;
	clear:both;
	font-weight:bold;
}
h1.img, h2.img, h3.img, h4.img
{
background-repeat: no-repeat;
background-position: left top;
text-indent: -9000px;
text-align:center;
padding-bottom:0;
margin: 0;
padding: 0;
}
h2.img
{
/*width:292px;*/
height:18px;
width:100%;
margin-top:25px;
padding-bottom:5px;
border-bottom:1px solid #ccc;
}
h4.img
{
height:14px;
line-height:14px;
}
	#weather-logo
	{
	background-image:url(/media/images/weather-logo-horiz.gif);
	width:669px;
	height:94px;
	}
	h2#results_yesterday
	{
	background-image:url(/media/images/hed_results_yesterday.gif);
	}
	h2#results_yesterday_daybefore
	{
	background-image:url(/media/images/hed_results_yesterday_daybefore.gif);
	}
	h2#forecasts_today
	{
	background-image:url(/media/images/hed_forecasts_today.gif);
	}
	h2#forecasts_tomorrow
	{
	background-image:url(/media/images/hed_forecasts_tomorrow.gif);
	}
	h2#accuracy
	{
	background-image:url(/media/images/hed_accuracy.gif);
	}
	h2#forecast_trackrecord
	{
	background-image:url(/media/images/hed_forecast_trackrecord.gif);
	}
	
h4 
{
font-size: 1em;
line-height: 1em;
color: #065368;
margin: 5px 0 5px 0;
padding-top:10px;
text-transform:none;
clear:both;
font-weight:bold;
}
div.home { padding-left:10px; }
.home h4{ padding-top:0; }
h4 a, h4 a:visited 
{
text-decoration: none;
border-bottom: 1px dotted #fff;
}

h4 a:hover, h4 a:active 
{
text-decoration: none;
border-bottom: 1px dotted #065368;
}

form { 
	margin: 0;
	padding: 0;
	color: #444; 
}

input {
	font-family: Arial, Verdana, sans serif;
	size: 10px;
	color: #666;
}

textarea {
	width: 260px;
	font-family: Arial, Verdana, sans serif;
	size: 10px;
	color: #666;
}

hr { 
color:#c8c8c8; 
background: #c8c8c8; 
border: 0; 
height:1px;
}



blockquote {
/*		background: url("/media/images/quoteys.gif") no-repeat top left; */
		height: 60px;
		padding: 0 0 0 40px;
}


#content {
    overflow: hidden;
	margin: 5px 0 0 20px;
	padding: 0;
}




#sidebar, #belowsidebar{
	width: 300px;
	margin: 0 0 0 11px;
	padding: 0;
	float: right;
    display: inline;
}

#footerwrapper {
	width: 870px;
	height: 50px;
	margin: 20px 0 0 50px;
	padding: 10px 20px 10px 20px;
	color: #fff;
	text-align: center;
	clear: both;
}


#login {
width: 300px;
}


form#login {
	margin: 0;
    color: #fff;
    background: #8a070f;
    padding: 10px 5px 10px 8px;
}



.formbutton { 
	font-weight: bold;
	font-size: 10px; 
	background-color: #720707; 
	color: #FFF; 
}

#comment .formbutton {
	margin: 0 0 0 80px;
}

.serifheader {
	font-size: 1.8em;
	font-family: Georgia, Times, Serif;
	font-weight: bold;
	color: #444;
	margin: 0;
	padding: 0;
}
.textpage
{
padding:5px 10px;
}

.bluetext {
color: #2e668d;
}



div.threecol
{
	width:32%;
	margin-right:5px;
	float:left;
}
div.col, div.subcol
{
	width:48%;
	margin-right:5px;
	float:left;
}
dl, #main li { font-size:13px; }
dl
{
    margin: 0 0 15px 1px;
    clear:both;
}
dt
{
    float: left;
    clear: left;
    font-weight: normal;
    margin-right: 3px;
    padding: 3px 0;
}
	dt.gold
	{
		background-image: url(/media/images/icon_gold_16.gif);
		background-repeat: no-repeat;
		background-position: left center;
		padding-left:17px;
	}
dd
{
    padding: 3px 0;
}


ol
{
	list-style-type:decimal;
	margin-left:25px;
}
#main li { line-height:20px; }
ol li span, dl dd span { font-size:10px; color:#999; }














/****************************
Table Styles
****************************/
table.deluxe
{
	display:table;
	padding: 0;
	margin: 0;
	border:1px solid rgb(191,191,191);
	text-align: left;
	color:black;
	width:600px;
}
	table.wide500 { width:500px; }
	table.wide400 { width:400px; }
	table.wide300 { width:300px; }

caption 
{
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th 
{
	font: 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	padding: 6px 4px;
	background: rgb(215,219,232) url(http://extras.mnginteractive.com/live/media/site36/2007/0501/20070501_035805_table-head-bg.gif) repeat-x;
}

th.nobg 
{
	border-top: 0;
	border-left: 0;
	border-right: 1px solid rgb(191,191,191);
	background: none;
}

table.deluxe td 
{
	border-right: 1px solid rgb(191,191,191);
	border-bottom:none;
	background: #fff;
	padding: 2px;
	margin:0;
	color: black;
	font-size:13px;
}


table.deluxe td.alt 
{
	background: rgb(232,232,232);
	color: black;
}

tr.trRow th,
tr.trRow td 
{
	border-left: 1px solid rgb(191,191,191);
	border-top: 0;
	border-right: 1px solid rgb(191,191,191);
	border-bottom:none;
	background: #fff;
	font-size:13px !important;
}

table.deluxe tr.trAlt th, 
table.deluxe tr.trAlt td, 
table.deluxe tr.resultsText td
{
	border-left: 1px solid rgb(191,191,191);
	border-top: 0;
	border-right: 1px solid rgb(191,191,191);
	border-bottom:none;
	background: rgb(232,232,232);
	font-size:13px;
	color: black;
}

/* For the Details page*/
#header-main th
{
	background: rgb(105,130,155) url(http://extras.mnginteractive.com/live/media/site36/2007/0501/20070501_035836_table-head-bg-blue.gif) repeat-x;
	color:white;
}
#header-main th, #header-sub th, th
{
	font-size:10px;
	line-height:11px;
}

/* For the table key, and colors */
div.tablekey
{
    float:right; 
    width:250px; 
    padding:0 10px; 
    border:1px solid #bbb;
    position:fixed;
}
div.year2008, div.year2007, div.year2006, div.year2006year2007, div.year2006year2007year2008
{
    width:15px; height:15px; float:left; margin-right:3px; 
}

table.deluxe tr td.year2008, .year2008
{
    background-color:#ccff66;
}
table.deluxe tr td.year2007, .year2007
{
    background-color:#ffff66;
}
table.deluxe tr td.year2006, .year2006
{
    background-color:#ffcc66;
}
table.deluxe tr td.year2006year2007, .year2006year2007
{
    background: url(http://extras.denverpost.com/media/app/census/year2006year2007.gif) no-repeat center;
}
table.deluxe tr td.year2006year2008, .year2006year2008
{
    background: url(http://extras.denverpost.com/media/app/census/year2006year2008.gif) no-repeat center;
}
table.deluxe tr td.year2007year2008, .year2007year2008
{
    background: url(http://extras.denverpost.com/media/app/census/year2007year2008.gif) no-repeat center;
}
table.deluxe tr td.year2006year2007year2008, .year2006year2007year2008
{
    background: url(http://extras.denverpost.com/media/app/census/year2006year2007year2008.gif) no-repeat center;
}


#legend
{
    float:right; width:300px;
    border: 1px solid #dedede;
    padding: 2px;
}
#legend div { border:2px solid #bebebe; padding: 3px 10px;}
#legend h2 
{ 
    line-height:18px; 
    font-size:1.3em;
    font-weight:bold;
    margin-top:0;
}



th span { color:#777; }

#appnav
{
    margin:auto; 
    padding: 5px 10px 2px 10px; 
    width:900px; 
    height:15px; 
    background-color:#006;
}

#appnav a
{
    color:white;
    display:block;
    float:left;
    margin-right:10px;
    border-bottom:none;
}

.mainwide
{
    float:none!important;
    width:925px!important;
}
p#breadcrumbs 
{ 
    margin-bottom:0; 
    padding:0; 
    clear:left; 
}


/* Overwrite the janky main-nav CSS */
#navwrapper #dp-navigation, #navwrapper #dp-navigation #mainItems, #navwrapper #dp-navigation > li, #navwrapper #dp-navigation li.topLevel
{
height:34px!important;
}

/* For the prev / next category nav */
h3.nextprev
{
    margin:5px 35px 0 15px; 
    height:20px; 
    font-weight:normal;
}
h3.nextprev span.prev
{
    display:block; 
    float:left;
}
h3.nextprev span.next
{
    display:block; 
    float:left;
}