<div id="household" class="tab_content">
<div class="featured">
       <h4>Total population graphs 2010?</h4>
       <ul>
           <li>tpa: {{ ages.total_population_asian_2010 }} </li>
           <li>tpb: {{ ages.total_population_black_2010 }}</li>
           <li>tpL: {{ ages.total_population_Latino_2010 }}</li>
           <li>tpw: {{ ages.total_population_white_2010 }}</li>
       
       </ul>
   </div>
   <div class="featured">
   <h1>BIG-GRAPH-HERE</h1>
</div>

    
    
</div><!-- /household -->