{% extends "census/base.html" %}
{% block title %}Census 2010{% endblock%}
{% block description %}{% endblock%}
{% block head %}
	<link rel="stylesheet" type="text/css" href="http://extras.denverpost.com/media/app/census/css/census.css" media="all" />
	<link rel="stylesheet" type="text/css" href="http://extras.denverpost.com/media/app/census/css/blue/style.css" media="all" />
	
	<style type="text/css">
		#panel { width:325px; }
		#panel, #panel * { font-family: Arial,sans-serif; font-size: 16px; }
		#stateSelector { width: 100%; }
		#log * { font-size: 14px; }
		#testmap { position:absolute; border-left:1px solid #AAA; }
	</style>
	
	<script type="text/javascript">
		(function() {
			var match = location.search.match( /\Wv=([\w.]+)/ );
			window.apiver = match && match[1];
			if( ! apiver )
				location.search = '?v=3.3';
		})();
	</script>
	
	<script type="text/javascript">
	/*
		document.write(
			'<script type="text/javascript" src="apiloader-', location.host.replace(':','-'), '.js">',
			'<\/script>'
		);
		*/
	</script>

{% endblock head %}
{% block style %}
#main { margin-left:0; }
.mainwide { width:100%!important; }
#globalnav { height:52px!important; }
{% endblock style %}
{% block appnav %}{% endblock appnav %}
{% block main %}{% load humanize data_extras %}
<script type="text/javascript">
{% comment %}
var state = Object()
{% for value in state.Colorado %}state['colorado']['{{ value.field.name_long|slugify }}'] = '{{ value|intcomma }}';<br>
{% endfor %}

var counties = Array({% for loc in counties.items %}'{{ loc|slugify }}'{% if not forloop.last %},{% endif %}{% endfor %});
var county = Object()
{% for loc, values in counties.items %}{% for value in values %}
county['{{ loc|slugify }}']['{{ value.field.name_long|slugify }}'] = '{{ value|intcomma }}'<br>{% endfor %}{% endfor %}
var cities = Array({% for loc in cities.items %}'{{ loc|slugify }}'{% if not forloop.last %},{% endif %}{% endfor %});
var city = Object
{% for loc, values in cities.items %}{% for value in values %}
city['{{ loc|slugify }}']['{{ value.field.name_long|slugify }}'] = '{{ value|intcomma }}'<br>{% endfor %}{% endfor %}
{% endcomment %}
</script>
	<div id="census-wrapper">
		<div id="census-header">


			<h1 id="census-logo">
				Colorado Census 2010
			</h1>
			<ul id="global-nav">
				<li><span class="black">Complete List of: </span><a href="#">Cities</a>/<a href="#">Counties</a>&nbsp;|&nbsp;</li>
				<li><a href="#">About this Project</a>&nbsp;|&nbsp;</li>

				<li><a href="#">Source Data</a>&nbsp;|&nbsp;</li>
				<li><a href="#">Help</a></li>
			</ul>
			<div class="filterbar">
				<form action="." id="geo-filter">
				<label for="geo-data">View Census data by: </label>
					<select name="geo-data" id="geo-data">

						<option value="">State</option>
						<option value="">County</option>
						<option value="">City</option>
<!--						<option value="">Legislative District</option>										 -->
					</select>
				</form>
				<!-- <form action="" class="census-search" id="">
					<label for="searchfield">Search: </label>
					<input type="text" id="searchfield" name="searchfield" size="30" />
				</form> -->

			</div>
		</div><!-- #census-header -->
		
		
		<div id="top-level">
			<div id="census-map">
				<!-- holder for google map -->
			</div><!-- #census-map -->
			<div id="map-nav">
				<form action="" id="map-filter">
					<label for="map-data">Map by:</label>

					<select name="map-data" id="map-data">
						<option value="population">Population</option>
						<option value="race">Race</option>					
						<option value="age">Age</option>
						<option value="housing">Housing Units</option>					
					</select>
				</form>
			</div><!-- #map-nav -->

			<div id="main-info">
				<h2 id="region">Colorado</h2>
				<div id="primary-data">
					<p>2010 Population:</p>
					<p class="big-number" id="population-2010">{% get_value_for_location_field 'Colorado' 'State' 'Sex and Age' '1' %}</p>
					<!--
					<p>2000 Population:</p>
					<p class="big-number" id="population-2000">1,000,000</p>

					<p>Total Change:</p>
					<p class="big-number">+ 234,567 <span class="small-number">(21.1%)</span></p>
					-->										
				</div><!-- #primary-data -->
				<div id="secondary-data">
				    <!--
					<h4>Geographical data:</h4>
					<p><strong>Square miles: </strong>123,456</p> 
					<p><strong>Population density: </strong>19.0 per sq mile.</p> 
					<p></p>
				-->

					<h4>Racial makeup:</h4>
					<p><strong>White: </strong>62%</p>
					<p><strong>Black: </strong>13%</p>
					<p><strong>Asian: </strong>2%</p>
					<p><strong>Etc. </strong>probably will be graphed anyway</p>

					<h4>Age:</h4>
					<p><strong>Median Age: </strong>35.5</p>
					<p><strong>Black: </strong>13%</p>
					<p><strong>Asian: </strong>2%</p>
					<p><strong>Etc. </strong>probably will be graphed anyway</p>																	
					<h4>Housing units:</h4>

					<p><strong>White: </strong>62%</p>
					<p><strong>Black: </strong>13%</p>
					<p><strong>Asian: </strong>2%</p>
					<p><strong>Etc. </strong>probably will be graphed anyway</p>				
				</div><!-- #secondary-data -->

			</div><!-- #main-info -->			
		</div><!-- #top-level> -->	
		
			
		<div id="bottom-level">
			<div id="table-filters">
				<h3>Table header here</h3>
				<form action="" class="searchable">
					<label for="row-number">Show results: </label>
					<select name="num-results" id="num-results">
						<option value="10">10</option>

						<option value="20" selected>20</option>
						<option value="50">50</option>
						<option value="100">100</option>
						<option value="all">All</option>																				
					</select>				
					<!--	
					<label for="search-form">Search </label>
					<input type="text" id="" size="30"/>
				-->

				</form>
			</div>
			
			
			<table id="census-table" class="tablesorter">
				<thead> 
					<tr>
						<th>Age</th>
						<th>Population</th>
						<th>% of total</th>

						<th>Male</th>
						<th>% of male total</th>
						<th>Female</th>
						<th>% of female total</th>
					</tr>
				</thead> 
				<tbody> 
					<tr>

						<td class="item-name">
							Under 10
						</td>
						<td class="number">
							242,967
						</td>
						<td class="percentage">
							15.5%
						</td>
						<td class="number">

							124,355
						</td>
						<td class="percentage">
							15.8%
						</td>
						<td class="number">
							118,612
						</td>
						<td class="percentage">
							15.2%
						</td>

					</tr>
					<tr>
						<td class="item-name">
							10 to 19 years
						</td>
						<td class="number">
							232,314
						</td>
						<td class="percentage">
							14.8%
						</td>

						<td class="number">
							119,040
						</td>
						<td class="percentage">
							15.2%
						</td>
						<td class="number">
							113,274
						</td>
						<td class="percentage">

							14.5%
						</td>
					</tr>
					<tr>
						<td class="item-name">
							20 to 29 years
						</td>
						<td class="number">
							214,943
						</td>

						<td class="percentage">
							13.7%
						</td>
						<td class="number">
							109,600
						</td>
						<td class="percentage">
							14.0%
						</td>
						<td class="number">

							105,343
						</td>
						<td class="percentage">
							13.5%
						</td>
					</tr>
					<tr>
						<td class="item-name">
							30 to 39 years
						</td>

						<td class="number">
							199,076
						</td>
						<td class="percentage">
							12.7%
						</td>
						<td class="number">
							101,355
						</td>
						<td class="percentage">

							12.9%
						</td>
						<td class="number">
							97,721
						</td>
						<td class="percentage">
							12.5%
						</td>
					</tr>
					<tr>

						<td class="item-name">40 to 49 years</td>
						<td class="number">198,324</td>
						<td class="percentage">12.7%</td>
						<td class="number"> 99,494</td>
						<td class="percentage">12.7%</td>
						<td class="number">98,830</td>

						<td class="percentage">12.6%</td>
					</tr>
					<tr>
						<td class="item-name"> 50 to 59 years</td>
						<td class="number">201,974</td>
						<td class="percentage">12.9%</td>

						<td class="number">100,101</td>
						<td class="percentage">12.7%</td>
						<td class="number">101,873</td>
						<td class="percentage"> 13.0%</td>
					</tr>
					<tr>

						<td class="item-name">
							60 to 69 years
						</td>
						<td class="number">
							146,744
						</td>
						<td class="percentage">
							9.4%
						</td>
						<td class="number">

							72,690
						</td>
						<td class="percentage">
							9.3%
						</td>
						<td class="number">
							74,054
						</td>
						<td class="percentage">
							9.5%
						</td>

					</tr>
					<tr>
						<td class="item-name">
							70 to 79 years
						</td>
						<td class="number">
							80,384
						</td>
						<td class="percentage">
							5.1%
						</td>

						<td class="number">
							38,608
						</td>
						<td class="percentage">
							4.9%
						</td>
						<td class="number">
							41,776
						</td>
						<td class="percentage">

							5.3%
						</td>
					</tr>
					<tr>
						<td class="item-name">
							80 and older
						</td>
						<td class="number">
							50,856
						</td>

						<td class="percentage">
							3.2%
						</td>
						<td class="number">
							20,081
						</td>
						<td class="percentage">
							2.6%
						</td>
						<td class="number">

							30,775
						</td>
						<td class="percentage">
							3.9%
						</td>
					</tr>
				</tbody>
				<tfoot>
				<tr>
					<th>Total</th>

					<th>1,567,582</th>
					<th>100%</th>
					<th>785,324</th>
					<th>100%</th>
					<th>782,258</th>
					<th>100%</th>

				</tr>
				</tfoot>
			</table>
		</div><!-- #bottom-level -->
		
		
		<!-- the tabs -->
		<!-- <ul class="tabs">
			<li><a href="#">Tab 1</a></li>
			<li><a href="#">Tab 2</a></li>
			<li><a href="#">Tab 3</a></li>
		</ul> -->

		<!-- tab "panes" -->
		<!-- <div class="panes">
			<div>pane 1 content</div>
			<div>pane 2 content</div>
			<div>pane 3 content</div>
		</div> -->

		
		
		</div>
		
				
</div><!-- #container -->
<!--
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
-->
<script type="text/javascript" src="http://extras.denverpost.com/media/js/jquery/jquery-1.6.min.js"></script> 
<script type="text/javascript" src="http://extras.denverpost.com/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://extras.denverpost.com/media/js/jquery/jquery.tablesorter.min.js"></script>

	<script type="text/javascript">
		(function() {
			//google.load( 'jquery', '1.6' );
			// google.load isn't working for Maps V3, use script tag for now
			//google.load( 'maps', apiver, { sensor:'false' } );
			if( parseInt(apiver) < 3 )
				google.load( 'maps', apiver );
			else
				document.write(
					'<script type="text/javascript" ',
					'src="http://maps.google.com/maps/api/js',
					'?v=', apiver, '&sensor=false">',
					'<\/script>'
				);
		})();
	</script>
	
	<script type="text/javascript" src="http://extras.denverpost.com/media/app/census/polygonzo/code/logger.js"></script>
	<script type="text/javascript" src="http://extras.denverpost.com/media/app/census/polygonzo/code/polygonzo.js"></script>
	<script type="text/javascript" src="http://extras.denverpost.com/media/app/census/polygonzo/code/polymap.js"></script>
	
	
	<!-- <script type="text/javascript" src="/media/polygonzo/polygonzo.js"></script> 
	<script type="text/javascript" src="/media/polygonzo/polymap.js"></script>-->
<script type="text/javascript">
// testmap.js
// By Michael Geary - http://mg.to/
// See UNLICENSE or http://unlicense.org/ for public domain notice

// Outer wrapper function
(function( $ ) {

var states = PolyMap.states;
var polyTimer;

function S() {
	return Array.prototype.join.call( arguments, '' );
}

function htmlEscape( str ) {
	var div = document.createElement( 'div' );
	div.appendChild( document.createTextNode( str ) );
	return div.innerHTML;
}

function optionHTML( value, name, selected, disabled ) {
	var id = value ? 'id="option-' + value + '" ' : '';
	var style = disabled ? 'color:#AAA; font-style:italic; font-weight:bold;' : '';
	selected = selected ? 'selected="selected" ' : '';
	disabled = disabled ? 'disabled="disabled" ' : '';
	return S(
		'<option ', id, 'value="', value, '" style="', style, '" ', selected, disabled, '>',
			name,
		'</option>'
	);
}

function randomInt( n ) {
	return Math.floor( Math.random() * n );
}

function randomElement( array ) {
	return array[ randomInt(array.length) ];
};

(function() {
	var index = 0;
	function option( value, name, selected, disabled ) {
		var html = optionHTML( value, name, selected, disabled );
		++index;
		return html;
	}
	function stateOption( state, selected ) {
		state.selectorIndex = index;
		return option( state.abbr, state.name, selected );
	}
	
	stateSelector = function() {
		return S(
			'<select id="stateSelector">',
				option( 'US', '50 States, DC, and Puerto Rico', true ),
				option( 'CONGRESSIONAL', 'All US Congressional Districts' ),
				option( 'COUNTY', 'All 3199 Counties (slow in IE!)' ),
				states.map( function( state ) {
					return stateOption( state, false );
				}).join(''),
			'</select>'
		);
	}
})();

function load() {
	var state, region, marker;
	var $window = $(window), $map = $('#census-map');
	
	var pm = window.pm = new PolyMap({
		container: $map[0],
		//shapes: '/media/shapes/json/',
		shapes: '/media/shapes/',
		events: {
			load: function( region_ ) {
				region = region_;
				colorize( region );
			},
			/*
			drew: function() {
				if( $('#chkAnimate').attr('checked') ) {
					clearTimeout( polyTimer );
					polyTimer = setTimeout( function() {
						log.reset( true );
						colorize( region );
						pm.redraw();
					}, 25 );
				}
			},
			*/
			over: function( feature ) {
				
				$('#status').html( featureName(feature) );
				if( marker ) {
					pm.removeMarker( marker );
					marker = null;
				}
				if( feature ) {
					var centroid = feature.properties.centroid;
					var latlng = new google.maps.LatLng( centroid[1], centroid[0] );
					marker = new google.maps.Marker( pm.v2 ? latlng : { position: latlng } );
					pm.addMarker( marker );
				}
				
			},
			click: function( feature ) {
				alert( 'Clicked ' + featureName(feature) );
			}
		}
	});
	
	var match = location.search.match( /\Wstate=(\w+)/ );
	var abbr = match && match[1] || 'CO';
	console.log("VAR abbr: ", abbr)
	$('#stateSelector')
		.val( abbr.toUpperCase() )
		.change( stateSelectorChange )
		.keyup( stateSelectorChange )
		.trigger( 'change' );
	
	function testMarker( name ) {
		return {
			url: 'images/' + name + '.png',
			size: { x: 16, y: 16 },
			anchor: { x: 7, y: 7 }
		};
	}
	var testMarkers = [ testMarker('add'), testMarker('delete') ];
	
	function colorize( region ) {
		// Test with random colors
		region.geo.markers = !! $('#chkMarkers')[0].checked;
		( region.geo.features || [region] ).forEach( function( feature ) {
			feature.fillColor = '#CCCCFF';
			//feature.fillOpacity = 0;
			//feature.fillColor = '#' + Math.random().toString(16).slice(2,8);
			//feature.fillOpacity = Math.random() * .5 + .3;
			feature.fillOpacity = .6;
			feature.strokeColor = '#000000';
			feature.strokeOpacity = 0.2;
			feature.strokeWidth = 2.5;
			feature.marker = randomElement( testMarkers );
		});
	}
	
	function featureName( feature ) {
		console.log("VAR feature: ", feature)
		if( ! feature ) return 'nowhere';
		var props = feature.properties;
		var abbr = props.state || feature.container.properties.state;
		var state = PolyMap.stateByAbbr(abbr).name;
		var local = feature.properties.name;
		switch( props.kind ) {
			case 'cd': return state + ( local == 'One' ? ' (one district)' : ' District ' + local );
			case 'county': return local + ' County, ' + state;
		}
		return state;
	}
	
	function stateSelectorChange() {
		loadState( this.value.replace('!','').toLowerCase() );
	}
	
	function loadState( value ) {
		if( value == state ) return;
		console.log("VAR state: ", state)
		console.log("VAR value: ", value)
		state = value;
		pm.load({ region:state });
	}
	
	function loadCounty( value ) {
		if( value == state ) return;
		console.log("VAR state: ", state)
		console.log("VAR value: ", value)
		state = value;
		pm.load({ region:state });
	}


}

$(window).bind( 'load', load );

})( jQuery );
// end outer wrapper function


	$(document).ready(function() 
	    { 	
	        $("#census-table").tablesorter();
			$("ul.tabs").tabs("div.panes > div");
		    var latlng = new google.maps.LatLng(38.884883, -105.776367),
				myOptions = {
				zoom: 6,
				center: latlng,
				disableDefaultUI: true,
				zoomControl: true,
				zoomControlOptions: {
				    style: google.maps.ZoomControlStyle.SMALL
				  },
				mapTypeControl: true,
				mapTypeId: google.maps.MapTypeId.ROADMAP
		    };
		    
			//map = new google.maps.Map(document.getElementById("census-map"), myOptions); 
	    }

	);
</script>

	<div id="panel" style="display:none;">
		<div style="background-color:#EEE; padding:6px; border-bottom:1px solid #AAA;">
			<div style="margin-bottom:6px;">
				<script type="text/javascript">
					if( $.browser.mozilla && window.console && console.log ) {
						document.write(
							'<div style="color:red; padding-bottom:8px;">',
								'<b>Disable Firebug</b> for faster performance',
							'</div>'
						);
					}
					document.write( stateSelector() );
				</script>
			</div>
			
			
			<div style="margin-top:6px;">
				
				<input type="checkbox" id="chkMarkers">
				<label for="chkMarkers">Markers</label>
								
				&nbsp;
				<input type="checkbox" id="chkAnimate" notchecked="checked">
				<label for="chkAnimate">Animate</label>
				
			</div>
		
		</div>
		
		<div id="status" style="height:3em; margin:6px; border-bottom:1px solid #CCC;">
		</div>
		
		<div id="log" style="font-family:Consolas,Courier New,monospace;">
		</div>
		
	</div>
	
	<div id="testmap">
	</div>
{% endblock main %}
